$title-font: serif;
$title-color: rgb(51, 51, 51);

$subtitle-font: sans-serif;
$subtitle-color: rgb(70, 70, 70);

$body-font: serif;
$body-color: rgb(51, 51, 51);

$bg-color: #f8f8f8;

$header-underline-color: rgb(51, 51, 51);
$navbar-underline-color: rgb(124, 124, 124);
